
:root {
    --page-color: whitesmoke;
    --very-soft-border-color: #ddd;
    --soft-border-color: #ccc;
    --hard-border-color: #666;
    --very-hard-border-color: black;
    --very-soft-text-color: #888;
    --soft-text-color: #555;
    --hard-text-color: #333;
    --very-hard-text-color: #000;
    --soft-background-color: #ddd;
    --hard-background-color: #fff;
    --scrollbar-color: auto;

    --accent-color-purple: #8b43bf;
    --accent-color-red: #cc4a41;
    --accent-color-blue: #4b8ac9;
    --accent-color-orange: #ed9521;
    --accent-color-pink: #c255a3;
    --accent-color-green: #63ba50;
    --accent-color-yellow: #bfc53b;
    --accent-color-cyan: #50b8ba;
}

.dark-mode {
    --page-color: #1e2021;
    --very-soft-border-color: #2f2f2f;
    --soft-border-color: #3e4446;
    --hard-border-color: #a8a095;
    --very-hard-border-color: white;
    --very-soft-text-color: #9d9488;
    --soft-text-color: #b2aca2;
    --hard-text-color: #c8c3bc;
    --very-hard-text-color: #fff;
    --soft-background-color: #2b2f31;
    --hard-background-color: #181a1b;
    --scrollbar-color: #454a4d #202324;

    --accent-color-purple: #583074;
    --accent-color-red: #782a24;
    --accent-color-blue: #264769;
    --accent-color-orange: #825110;
    --accent-color-pink: #782761;
    --accent-color-green: #3f7532;
    --accent-color-yellow: #707428;
}

.dark-mode-transition, .dark-mode-transition * {
    transition: all .3s !important;
}