
header .left-side, header .right-side {
    width: calc(2.66em * 2);
}

.history-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7em auto 2em auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
    padding: 0 1.5em;
}

.history-item {
    text-align: center;
    box-sizing: border-box;
    width: 4em;
    height: 4em;
    padding: 0;
    background: var(--soft-background-color);
    color: var(--hard-text-color);
    margin: .15em;
    border-radius: .3em;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: border .1s;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

@media (hover: hover) {
    .history-item:hover {
        border: 2px solid var(--hard-border-color);
    }
}

@media screen and (max-width: 600px) {
    .history-container {
        max-width: 400px;
    }
    .history-item {
        font-size: 1.2em;
        padding: .5em 1em;
        /* width: 3em;
        height: 3em; */
        margin: .15em;
    }
}

.history-item .puzzle-name {
    margin-top: .6em;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.history-item .puzzle-type {
    background-color: var(--accent-color-green);
    text-transform: uppercase;
    font-size: .4em;
    margin-top: .8em;
    padding: .2em .5em;
    background-color: rgba(255, 255, 255, .9);
    border-radius: .3em;
    font-weight: 600;
}