@import url("./colors.css");
@import url("./popup.css");

* {
    scrollbar-color: var(--scrollbar-color);
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    background-color: var(--page-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    border-bottom: 2px solid var(--soft-border-color);
    box-sizing: border-box;
    padding: .2em 1em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--hard-background-color);
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
}

header .left-side {
    flex-shrink: 1;
}

header .right-side {
    flex-shrink: 0;
}

header .left-side, header .right-side {
    width: 3em;
}

header .right-side {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

header .middle-side {
    flex-shrink: 0;
}

header .middle-side > h1 {
    font-size: 24px;
    color: var(--soft-text-color);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 500px) {
    header .middle-side > h1 {
        font-size: 20px;
    }
}

.corner-button {
    color: var(--hard-text-color);
    font-size: 1.4em;
    height: 1.9em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    transition: background-color .1s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.corner-button:hover {
    background-color: var(--soft-background-color);
}

.corner-button > span {
    font-size: 1.2em;
}

footer {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2em;
    margin: 4em 0;
    font-size: .8em;
    color: var(--very-soft-text-color);
}

footer a {
    color: inherit;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.content {
    margin: 6em auto 2em auto;
    width: 100%;
    max-width: 500px;
}

.loading-text {
    text-align: center;
    font-size: .8em;
    color: #666;
}