
body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    background-color: whitesmoke;
}

header {
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    padding: .2em 1em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

header .left-side, header .right-side {
    max-width: 0;
}

header .middle-side > h1 {
    font-size: 24px;
    color: #555;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 500px) {
    header .middle-side > h1 {
        font-size: 20px;
    }
}

#help-button {
    color: #555;
    font-size: 1.2em;
    height: 1.9em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    transition: background-color .1s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#help-button:hover {
    background-color: #eee;
}

#help-button > span {
    font-size: 1.2em;
}

footer {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2em;
    margin: 4em 0;
    font-size: .8em;
    color: #666;
}

footer a {
    color: inherit;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.content {
    margin: 6em auto 2em auto;
    width: 100%;
    max-width: 500px;
}

.loading-text {
    text-align: center;
    font-size: .8em;
    color: #666;
}

.solved-display, #help-display {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#solved-display-background, #help-display-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
}

.solved-display-box, #help-display-box {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: calc(100svw - 4em);
    box-sizing: border-box;
    padding: 1em 2em;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
    max-height: calc(100svh - 2em);
    overflow-x: hidden;
    overflow-y: auto;
}
@media screen and (max-width: 500px) {
    .solved-display-box, #help-display-box {
        width: calc(100svw - 2em);
    }
}

.solved-display h2, #help-display h2 {
    text-align: center;
}

.solved-share-button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0 1em 0;
}

.solved-share-button-box > button {
    font-size: 1em;
    font-family: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: .7em 1.4em;
    border-radius: .7em;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: #c255a3;
    color: white;
    font-weight: 700;
    user-select: none;
}
.solved-share-button-box > button:hover {
    border: 2px solid #333;
}

.solved-share-button-box > button > div {
    margin-left: .5em;
}

.clipboard-text {
    text-align: center;
    font-size: .8em;
    display: none;
}

#solved-display-close-button, #help-display-close-button {
    border-radius: 50%;
    position: absolute;
    right: .6em;
    top: .6em;
    width: 2em;
    height: 2em;
    border: 2px solid transparent;
    background-color: #eee;
    color: #777;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
#solved-display-close-button:hover, #help-display-close-button:hover {
    border: 2px solid #333;
}